# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
*.iml
*.ipr
*.iws
*.swp
*.lock
*.log
*.tmp
*.DS_Store

# Environment files
.env
.env.*

